@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-openSans: "Open Sans", serif;
}

@utility information {
  @apply mb-8 text-[16px] leading-7 tracking-tight text-[#666666] md:text-lg dark:text-[#C0C0C0];
}

@utility bio {
  @apply text-lg font-medium text-[#666] dark:text-[#c0c0c0];
}

@utility title-heading {
  @apply mb-4 text-3xl font-bold text-[#373737] dark:text-white;
}

@utility certification-issued-provider {
  @apply text-sm text-[#666666] md:text-base dark:text-[#c0c0c0];
}
